.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $small + 1) {
        padding: $gutter + $gutter / 2 $gutter / 2;
    }

    @media (max-width: $small) {
        padding: $gutter / 2 $gutter / 2;
    }

    &__image {
        display: block;

        @media (min-width: $small + 1) {
            max-width: 400px;
            margin-bottom: $gutter;
        }

        @media (max-width: $small) {
            max-width: 250px;
            margin-bottom: $gutter / 2;
        }
    }

    &__title {
        display: block;
        margin-bottom: $gutter / 2;
        letter-spacing: 5px;
        color: $light-color;
        font-family: $font-header;
        font-weight: 300;

        @media (min-width: $small + 1) {
            font-size: 3rem;
            line-height: 3.5rem;
        }

        @media (max-width: $small) and (min-width: $xsmall + 1) {
            font-size: 2rem;
            line-height: 2.5rem;
        }

        @media (max-width: $xsmall) {
            font-size: 1.5 rem;
            line-height: 2rem;
        }
    }

    &__description {
        display: block;
        letter-spacing: 3px;
        color: $light-color;
        font-weight: 700;
    }
}